<h1><%=@project.title%></h1>
<div class="container">
	<%@a.each do |n| %>

		 <table border="1" >
			 <caption><%=n.first.category.title%></caption>
			 <th>Найменування</th>
			 <th>Кількість</th>
			 <th>Ціна</th>
			 <th>Вартість</th>
				 <br>
	     <tbody id =<%=n.first.category.id%>>
				 <%n.each do |item|%>

					 <tr class = <%= last_line(n, item) %>  >

							 <td><%=item.title%></td>
							 <td><%=item.count%></td>
							 <td><%=item.price%></td>
							 <td><%=item.total%></td>
							 <td><%=link_to "видалити", project_item_path(@project, item), method: :delete  unless item.title == 'Всього'%></td>

						 </tr>

					<%end%>
	     </tbody>


		 </table>



		 <hr>

	<%end%>
</div>

<div class="summary">
	<table border='2'>
	<caption>Зведена таблиця</caption>
		<tbody class = sum>
			<%@a.each do |n|%>
				<tr class = "s_<%=n.first.category.id%>">
					<td><%=n.first.category.title%></td>
					<td><%=n.last.total%></td>
				</tr>

			<%end%>


		<tr class="last_line">
				<td>Всього</td>
				<td><%=@total%></td>
			</tr>
		</tbody>
	</table>

</div>

<div id="table">

</div>




<%= render 'items/form'%>
