<!DOCTYPE html>
<html>
  <head>
    <title>CostApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="buttons">
      <%=link_to "c", categories_path, class: "link"%>
      <%= link_to "p", projects_path, class: "link"%>
      <%= link_to "now", project_path(Project.last), class: "link"%>
      <% if user_signed_in? %>
       <%= link_to('logout', destroy_user_session_path, method: :delete, class: "link")%>
    <% else %>
      <%= link_to('login', new_user_session_path, class: "link")%>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
